@{
    ViewData["Title"] = "Example app";
}
<a class="twitter-link" href="http://twitter.com/home/?status=I just hosted a website on AWS!"><img src="img/tweet.svg" /></a>
<div class="text">
    <h1>Congratulations!</h1>
    <h2>@ViewData["Message"]</h2>
</div>